<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= blog.title %> - Read More
  </title>
  <link rel="stylesheet" href="/css/readMore.css">
</head>

<body>
  <header>
    <h1>
      <%= blog.title %>
    </h1>
    <p>Category: <%= blog.category ? blog.category.join(', ') : ' Uncategorized' %>
    </p>
  </header>

  <div class="blog-detail">
    <img src="<%= blog.profile %>" alt="<%= blog.title %>">
    <p>
      <%= blog.description %>
    </p>
    <a class="back-btn" href="/show">⬅ Back to Blogs</a>
  </div>
</body>

</html>